.abc {
    display: flex;
  }
  
  .header1{
    flex: 1;
    padding: 20px;
    background-color:blanchedalmond;
        background-color :antiquewhite;
        border: 1px solid #ccc;

  }
  .header2 {
    flex:auto;
    font-size:xxx-large;
    font-style: italic;
    padding: 20px;
    background-color:blanchedalmond;
    border: 1px solid #ccc;
  }
  .font
  {
    font-size:large;
  }
  #table
  {
    width: 75%;
    border-collapse: collapse;
  }
  #table th, #table td
  {
    border: 2px solid #000;
    padding: 5px;
    text-align: center;
  
  }
  
  